* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --text-color: #414141;
    --text-color-light: #4c4c4c;
    --grey-dark: #2c2e32;
    --grey: #8c8b92;
    --grey-light: #e2e2e2;
    --orange: #7b461d;
    --beige: #e1cfb6;
    --color-primary: #1b474a;
    --color-primary-light: #3a5a5d;
    --font-style: "Mulish";
    --font: "Source Sans Pro";
}

:root,
body {
    min-height: 100vh;
}

body {
    font-family: var(--font-style), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--text-color);
    position: relative;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    text-decoration: none;
    color: inherit;
}

em {
    font-weight: 800;
    color: var(--color-primary);
}

.main {
    padding-bottom: 10rem;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-family: "Dancing Script";
    color: #fff;
    background-color: var(--grey-dark);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    display: grid;
    place-content: center;
}

/* main nav */
.nav {
    font-family: var(--font);
    margin-left: auto;
}

.nav > :not(:last-child) {
    margin-right: 1.5rem;
}

.nav a {
    font-weight: 600;
    color: var(--text-color-light);
}

.nav a:hover {
    color: var(--text-color);
}

/* button styles */
.button {
    font: inherit;
    outline: none;
    border: none;
    border-radius: 1.5rem;
    padding: 0.75rem 1rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--color-primary);
    cursor: pointer;
    min-width: 100px;
}

.button:hover {
    background-color: var(--color-primary-light);
}

/* landing page */
.bg-landing {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url("/img/stock/background.jpg");
    background-size: cover;
    background-position: center top;
}

/* hero */
.hero-title {
    font-size: 2.3rem;
    text-align: center;
    font-weight: 600;
    margin: 6rem 4rem 10rem;
    line-height: 1.3;
}

/* polaroid grid */
.polaroid-grid {
    padding: 0 3rem;
}

.polaroid-grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 3rem 0;
}

.polaroid-grid__container.polaroid-grid__container--demo > .polaroid:nth-child(even) {
    transform: translateY(-2rem);
}

.polaroid {
    width: 100%;
    background: #fff;
    padding: 2%;
}

.polaroid__image {
    overflow: hidden;
    height: 300px;
}

.polaroid__image > img {
    opacity: 0.6;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.polaroid__meta {
    position: relative;
    display: flex;
    padding: 1rem;
    z-index: 1;
}

.polaroid__meta > :not(:last-child) {
    margin-right: 1rem;
}

.polaroid__user {
    display: block;
    flex-flow: column;
    align-items: center;
    margin-top: -45px;
}

.polaroid__avatar {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    border: solid 3px #fff;
    background: var(--grey-light);
}

.polaroid__username {
    text-align: center;
}

.polaroid__avatar > img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.polaroid__details > h3 {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.polaroid__details > p {
    color: var(--text-color-light);
}

/* login-modal */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 100;
    opacity: 0.5;
}

body.show-overlay .overlay {
    display: block;
}

.modal {
    display: none;
    min-height: 300px;
    width: 400px;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow: hidden;
}

/* tabs */
.tabs {
}
.tabs__header {
    display: flex;
}
.tab__container {
}
.tab__header-link {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-light);
}
.tab__header-link.tab__header-link--active {
    background-color: #fff;
}
.tab {
    display: none;
    margin: 0 auto;
    padding: 0 3rem 5rem;
}

/* login form */
.login {
}

.login h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 0;
    line-height: 1.3;
}

/* forms */
.form-group {
    margin-bottom: 1rem;
}
.form-group label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-control {
    outline: none;
    border: solid 1px var(--grey-light);
    border-radius: 5px;
    padding: 0.75rem;
    background-color: #fafafa;
    display: block;
    width: 100%;
}

/* ----------- dashboard ----------- */
.dashboard {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.dashboard > .main {
    flex-grow: 1;
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;
    background-color: var(--grey-dark);
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 2rem;
}

/* sidebar */

.sidebar {
    flex-grow: 1;
    width: 70px;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem 0.25rem;
}

.sidebar-nav {
    margin-top: auto;
}

.sidebar-nav__item {
    width: 45px;
    height: 45px;
    background-color: var(--grey-light);
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 50%;
    padding: 0.5rem;
    color: var(--text-color);
    transition: background-color 0.1s ease;
}

.sidebar-nav__item:hover {
    background-color: #cfcfcf;
}

.sidebar-nav__item:not(:last-child) {
    margin-bottom: 1rem;
}

.sidebar-nav__item.sidebar-nav__item--active {
    background-color: var(--color-primary);
    color: #fff;
}

.sidebar-nav__item path {
    stroke-width: 1.3px;
}

.sidebar-nav__item > img {
    width: 100%;
    height: auto;
}

/* categories */

.category-filter {
    color: #fff;
}

.category-title {
    font-size: 1.25rem;
    margin: 1rem 0;
}
/* travel category nav */
.category-nav {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.category-nav__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem;
    width: 110px;
}

.category-nav__item.category-nav__item--active {
    background-color: var(--grey);
}

.category-nav__item:not(:last-child) {
    /* margin-right: 1rem; */
}

.category-nav__item span {
    margin-top: 0.5rem;
    text-align: center;
}

.category-nav__icon img {
    height: 100%;
    width: auto;
}

.category-nav__icon {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    padding: 20%;
}
